* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: #dae1e7;
  /* overflow-x: hidden; */
}
span {
  color: #00909e;
}
h3 {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 3px;
}
h1 {
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 4px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* global pseudelements */

.menu-txt {
  display: none;
}
.nav-menu {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: #dae1e7f2;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  clip-path: circle(0px at 150% -5%);
  -webkit-clip-path: (0px at 150% -5%);
  transition: all 1s linear;
}

.nav-menu.open {
  clip-path: circle(1050px at 110% -10%);
  -webkit-clip-path: (1050px at 110% -10%);
}

.item {
  margin: 60% auto;
  font-size: 2em;
  color: #00909e;
}
.item i {
  color: #00909e;
  margin: 10px;
}
.item a {
  color: #142550;
}

.item a i {
  color: #142550;
}

.burger-btn {
  margin: auto;
  position: fixed;
  top: 20px;
  right: 25px;
  background-color: #dae1e7;
  height: 40px;
  width: 40px;
  padding-top: 9px;
  padding-left: 4px;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
}

.burger-btn div {
  width: 25px;
  height: 2px;
  margin: 4px;
  background-color: #142550;
  transition: all 0.5s ease-in;
}
.burger-btn.active .burger-middle-line {
  transform: translateX(-25px);
  opacity: 0;
}

.burger-btn.active .burger-top-line {
  transform: rotate(45deg) translate(4.5px, 4px);
}

.burger-btn.active .burger-bottom-line {
  transform: rotate(-45deg) translate(4.5px, -4px);
}

/* index pseudoselectors */
.index-container {
  overflow-x: hidden;
  position: absolute;
  background: url(/img/joshua-aragon-FkjaN-7gWC0-unsplash.jpg) no-repeat center
    center/cover;
  width: 100%;
  height: 100vh;
}
.index-wrap {
  display: flex;
  background-color: #142850f5;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.banner {
  margin: auto;
  text-align: center;
}
.top-line {
  height: 2px;
  width: 250px;
  background-color: #dae1e7;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
  transform: translateX(-100%);
  opacity: 0%;
  animation-name: linetop;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 1s;
}
.bottom-line {
  height: 2px;
  width: 250px;
  background-color: #dae1e7;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  transform: translateX(100%);
  opacity: 0%;
  animation-name: linebottom;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 1s;
}
.text-name {
  opacity: 0;
  animation-name: txtname;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 2s;
}
.text-above {
  opacity: 0;
  animation-name: txtabove;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.text-bellow {
  opacity: 0;
  animation-name: txtbellow;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 3s;
}

/* about me pseudoelements */

.about-container {
  position: absolute;
  background: url(/img/joshua-aragon-FkjaN-7gWC0-unsplash.jpg) no-repeat center
    center/cover;
  width: 100%;
  height: 240vh;
}

.about-wrap {
  display: flex;
  background-color: #142850f5;
  width: 100%;
  height: 240vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 80%;
  height: 220vh;
  margin-top: 60px;
  background-color: #27496d4d;
  align-content: center;
}

.info-title {
  margin-top: 25px;
}

.info-line {
  height: 2px;
  width: 90%;
  background-color: #dae1e7;
  margin: 15px auto;
}

.info-container p {
  font-size: 1em;
  letter-spacing: 0.05em;
  font-weight: 300;
  width: 80%;
  margin: 10px auto;
}

.info-container h3 {
  font-size: 1.75em;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-top: 25px;
}

.card {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  height: 105%;
  background-color: #dae1e7;
  padding-top: 15px;
  box-shadow: 5px 5px #00909e4d;
}

.card h3 {
  font-size: 1.25em;
}

.card p {
  color: #142550;
  font-size: 0.9em;
}

.card i {
  color: #142550;
  font-size: 1.75em;
}

.title {
  color: #00909e;
}
.list-title {
  color: #142550;
  margin: 15px auto;
  letter-spacing: 2px;
  font-weight: 300;
}
.card-line {
  height: 2px;
  width: 75%;
  background-color: #142550;
  margin: auto;
  margin-bottom: 10px;
}

.card-list ul li {
  color: #00909e;
  margin-top: 2px;
  margin-bottom: 10px;
}

.card-bottom-line {
  height: 2px;
  width: 50%;
  background-color: #00909e;
  margin-top: 75px;
  margin: auto;
}

/* animations */

@keyframes linetop {
  0% {
    opacity: 0;
    transform: translateX(-125%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes linebottom {
  0% {
    opacity: 0;
    transform: translateX(125%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes txtname {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes txtabove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes txtbellow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* media queries */

@media (min-height: 568px) {
  .about-container {
    height: 195vh;
  }
  .about-wrap {
    height: 195vh;
  }
  .info-container {
    height: 175vh;
    margin-top: 75px;
  }
}

@media (min-height: 640px) {
  .about-container {
    height: 185vh;
  }
  .about-wrap {
    height: 185vh;
  }
  .info-container {
    height: 180vh;
    margin-top: 25px;
  }
}

@media (min-height: 667px) {
  .about-container {
    height: 177vh;
  }
  .about-wrap {
    height: 177vh;
  }
  .info-container {
    height: 175vh;
  }
}

@media (min-height: 736px) {
  .about-container {
    height: 150vh;
  }
  .about-wrap {
    height: 150vh;
  }
  .info-container {
    height: 145vh;
    margin-top: 25px;
  }
}

@media (min-height: 740px) {
  .about-container {
    height: 157vh;
  }
  .about-wrap {
    height: 157vh;
  }
  .info-container {
    height: 155vh;
  }
}

@media (min-width: 768px) {
  .about-container {
    height: 115vh;
  }
  .about-wrap {
    height: 115vh;
  }
  .info-container {
    height: 100vh;
  }

  .nav-menu.open {
    clip-path: circle(1800px at 110% -10%);
    -webkit-clip-path: (1800px at 110% -10%);
  }
}

@media (min-height: 812px) {
  .about-container {
    height: 145vh;
  }
  .about-wrap {
    height: 145vh;
  }
  .info-container {
    height: 140vh;
  }
}
@media (min-width: 801px) {
  .about-container {
    height: 100vh;
  }
  .about-wrap {
    height: 100vh;
  }
  .info-container {
    height: 90vh;
  }

  .card-container {
    flex-direction: row;
  }

  .card {
    width: 40%;
  }

  .menu-txt {
    display: inline;
    font-size: 1.5em;
    font-weight: 500;
    position: absolute;
    top: 25px;
    right: 90px;
  }
  h3 {
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 3px;
  }
  h1 {
    font-size: 4em;
    font-weight: 300;
    letter-spacing: 4px;
  }
  .info-container p {
    font-size: 1.5em;
    letter-spacing: 0.05em;
    font-weight: 300;
    width: 60%;
    margin: 10px auto;
  }
  .info-container h3 {
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 3px;
  }

  .card h3 {
    font-size: 1.75em;
  }

  .card-container {
    margin-top: 50px;
  }
  .nav-menu.open {
    clip-path: circle(2500px at 110% -10%);
    -webkit-clip-path: (2500px at 110% -10%);
  }

  .card-list ul li {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 412px) and (max-width: 915px) {
  .about-container {
    height: 135vh;
  }
  .about-wrap {
    height: 135vh;
  }
  .info-container {
    height: 130vh;
  }
}

@media (min-height: 1280) {
  .card-container {
    flex-direction: column;
  }
  .card {
    width: 80%;
  }

  .menu-txt.fading p {
    opacity: 0;
  }
}
